<template lang="html">
  <form @submit.prevent="submit">
    <p>Nueva cuenta de usuario</p>
    <input id="firstName" type="text" placeholder="Nombre" required>
    <input id="lastName" type="text" placeholder="Apellido" required>
    <input id="username" type="text" placeholder="Usuario" required>
    <input id="email" type="email" placeholder="e-mail" required>
    <input id="password" type="password" placeholder="Contraseña" required>
    <input id="repeat_password" type="password" placeholder="Repita de nuevo la contraseña" required>
    <input type="submit" value="Crear cuenta">
    <router-link :to="{ name: 'login' }">Ya dispongo de una cuenta</router-link>
  </form>
</template>

<script>
  export default {
    methods: {
      submit(event) {
        if (!this.validForm(event)) {
          alert('Las contraseñas deben ser iguales');
          return;
        }
        const self = this;
        const username = event.target.username.value
          .trim()
          .replace(/\W/g, '');

        Meteor.call(
          'users.createUser',
          {
            username,
            email: event.target.email.value,
            password: event.target.password.value,
          },
          {
            profile: {
              name: {
                first: event.target.firstName.value,
                last: event.target.lastName.value,
              },
            },
          },
          (error) => {
            if (error) {
              console.log(error);
              return;
            }
            self.$router.push('/login');
          }
        );
      },
      validForm(event) {
        return event.target.password.value === event.target.repeat_password.value;
      },
    },
  };
</script>

<style lang="scss">
</style>
