<template lang="html">
  <header>
    <router-link :to="{ name: 'home', params: {} }">
      <i class="icon-home"></i>
    </router-link>
    <button v-if="username" @click.prevent="logout">
      Logout
    </button>
  </header>
</template>

<script>
  export default {
    name: 'app-header',
    props: ['user'],
    computed: {
      username() {
        return this.user && this.user.username;
      },
    },
    methods: {
      logout() {
        const self = this;
        Meteor.logout(() => {
          self.$router.push('/login');
        });
      },
    },
  };
</script>
