<template lang="html">
  <div class="generalLayout">
    <app-header :user="user"/>
    <app-nav v-if="user"/>
    <main>
      <router-view/>
    </main>
  </div>
</template>

<script>
  export default {
    data() {
      return {
        user: null,
      };
    },
    meteor: {
      user: {
        update() {
          return Meteor.user();
        }
      },
    },
  };
</script>
