// https://css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice/

html {
  box-sizing: border-box;
  font-family: $sans-serif;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  color: black;
  background: white;
}
