/* COLORES */

// Paleta general
// Colores frontales
$app-main: rgba(108, 2, 7, 1); // 338, 75, 39
$app-secondary: rgba(145, 26, 69, 1);

$app-main-variant-0: darken(desaturate(adjust-hue($app-main, -2deg), 6%), 2%);
$app-main-variant-1: darken(desaturate(adjust-hue($app-main, 1deg), 23%), 10%);
$app-main-variant-2: darken(desaturate(adjust-hue($app-main, 1deg), 29%), 12%);
$app-main-variant-3: darken(desaturate(adjust-hue($app-main, -3deg), 43%), 17%);
$app-main-variant-4: darken(desaturate(adjust-hue($app-main, -3deg), 43%), 25%);

// Colores de fondo
$bg-base: rgb(53, 53, 53);
$bg-base-dark: darken(saturate(adjust-hue($bg-base, 3deg), 1%), 7%);
$bg-base-med: lighten(desaturate(adjust-hue($bg-base, 6deg), 7%), 39%);
$bg-base-light: lighten(saturate(adjust-hue($bg-base, 8deg), 13%), 76%);

// Textos
$text-light: #868f90;
$text-dark: black;

// Miscelánea
$icon-hover: $app-main;
