@import url('https://fonts.googleapis.com/css?family=Open+Sans|Roboto+Slab|Spicy+Rice');

/*
@font-face {
  font-family: 'LCD';
  src: url('fonts/digit.ttf');
  // http://www.dafont.com/digit.font?l[]=10&l[]=1
}
*/

$serif: "Roboto Slab", serif;
$sans-serif: "Open Sans", sans-serif;
$mamut: "Spicy Rice", sans-serif;
