/************ VARIABLES **************/
// COLORES
@import './colors';

// TAMAÑOS
@import './sizes';

// FUENTES
@import './fonts';

// MISCELÁNEA
$mobile-filterVisibilityMinWidth: 320px; // filtro para "display: none" en interfaces móviles

/************ FUNCTIONS **************/
//PX TO REM
@function rem($size, $base:16) {
  $remSize: $size / $base;
  @return #{$remSize}rem;
}

//PX TO EM
@function em($size, $base:16) {
  $emSize: $size / $base;
  @return #{$emSize}em;
}
